<script defer src="/js/admin.js"></script>

<h1 class="mb-2">Список студентов</h1>
<hr class="mb-4">
{{#if students}}
<ul id="students" class="list-group mb-5">
  {{#each students}}
  <li class="list-group-item li d-flex align-items-center justify-content-between" id="_{{this.id}}">
    <span id="{{this.id}}" class="title align-middle mr-auto">{{firstName}} {{lastName}} | {{typeBootCamp}} |
      <strong>Дата рождения: </strong>{{prettyDate}}
    </span>
    <a href="/admin/edit/{{this.id}}"><button type="button" class="btn btn-primary mr-3">Изменить</button></a>
    <button type="button" class="btn btn-danger">Удалить</button>
  </li>
  {{/each}}
</ul>
{{else}}
<p>Список студентов пуст 😔</p>
{{/if}}
