<h2 lass="mb-5">Спасибо!</h2>
<ul class="list-group mb-3" style="width: 50%">
  <p class="mb-2"> Данные внесены. Проверь:</p>
  <li class="list-group-item">Имя: {{student.firstName}}</li>
  <li class="list-group-item">Фамилия: {{student.lastName}}</li>
  <li class="list-group-item"> Дата рождения: {{student.prettyDate}}</li>
  <li class="list-group-item">Буткемп: {{student.typeBootCamp}}</li>
  <li class="list-group-item"> Название группы: {{student.groupName}} </li>
</ul>
<div style="width: 50%;">
  <small style="color: gray">Если данные неверны, напиши об этом в Slack в тред к сообщению, в котором тебе
    прислали ссылку. Напиши
    там свои ФИО,
    название группы и что именно неверно. Эту страницу можешь закрыть.
  </small>
</div>
